@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Yantramanav", sans-serif;
  font-size: 16px;
  border-radius: 6px;
  color: rgb(104, 36, 194);
}

.App {
  margin: 100px auto;
  width: 500px;
  font-size: 18px;
  background-image: linear-gradient(
    220deg,
    rgb(225, 250, 179),
    rgb(229, 180, 252),
    rgb(185, 228, 253)
  );
}

.App h1 {
  text-align: center;
  padding-top: 30px;
  text-shadow: 3px 3px 8px rgb(118, 65, 161);
  font-size: 50px;
  opacity: 0.8;
}

.App input {
  height: 30px;
  padding: 10px;
  border: 2px solid rgba(69, 150, 187, 0.5);
  box-shadow: 4px 4px 10px rgb(158, 105, 202);
}

.App input:focus {
  outline: none;
  background-color: rgb(234, 249, 255);
}

.App button {
  border: 2px solid rgba(69, 150, 187, 0.5);
  box-shadow: 4px 4px 10px rgb(158, 105, 202);
  background-color: rgb(218, 243, 255);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.App button:hover {
  transform: scale(0.99);
  background-color: rgb(185, 222, 240);
}
